<h2>New Tweet!</h2>
<form class="tweet-compose" data-feed-id="#feed" action="/tweets" method="POST">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <div class="tweet-content" contenteditable placeholder="What's happening?"></div>

  <strong class="chars-left">150 characters left</strong>
  <br>

  <ul class="suggested-users">
  </ul>

  <input class="tweet-input tweet-input_submit" type="Submit" value="Post Tweet!">
</form>
