<h2>New Tweet!</h2>
<form class="tweet-compose" data-feed-id="#feed" action="/tweets" method="POST">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
  <textarea 
    class="tweet-input tweet-input_content"
    name="tweet[content]"
    placeholder="What's happening?"></textarea>
  <br>

  <strong class="chars-left">150 characters left</strong>
  <br>
  
  <ul class="search-result">
  </ul>

  <input class="tweet-input tweet-input_submit" type="Submit" value="Post Tweet!">
</form>
