.warning {
  color: $red;
}

.tweet-content {
  width: 70vw;
  min-width: 400px;
  height: 10rem;
  max-height: 700px;
  font-size: 1.4rem;
  padding: 1rem;
  overflow-y: auto;
  border: 1px solid #000;
}

.tweet-content:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}

.highlight {
  color: #29A2FF;
}